.card-editor {
    margin: 0 2px 2px;
}

.edit-filed {
    width: 100%;
    margin: 1px 0;
}

.word-fileds {
    display: flex;
    gap: 3px;
}

.search-bar * {
    margin: 2px 0.1rem;
}

.card-id {
    width: 4em;
}

.table {
    display: flex;
}

.table:focus {
    outline: none;
}

.table-body {
    border-top: 1px solid;
    border-left: 1px solid;
}

.table-row {
    display: grid;
    border-bottom: 1px solid;
}

.selected {
    background-color: #80f5f5;
}

.cell {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    padding-inline: 0.2em;
}

.autorepeat {
    color: red;
    border-color: black;
    font-weight: bold;
}
