.table {
    border-top: 1px solid;
    border-left: 1px solid;
}

.table-row {
    display: grid;
    border-bottom: 1px solid;
}

.selected {
    background-color: aqua;
}

.cell {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    padding-inline: 0.2em;
}

.autorepeat {
    color: red;
    border-color: black;
    font-weight: bold;
}