h1, h2 {
  text-align: center;
}

h2 {
  color: green;
}

.status-bar {
  height: 3px;
}

.clear {
  background-color: green;
}

.loading {
  background-color: yellow;
}

.failed {
  background-color: red;
}

.error-message {
  position: absolute;
  width: 75%;
  margin-inline: 10%;
  /* display: flex;
  justify-content: space-between; */
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.1em 0.5em;
}