.status-bar {
  height: 3px;
}

.loading {
  background-color: orange;
}

.stalled {
  background-color: orange;
}

.failed {
  background-color: red;
}

.error-message {
  position: absolute;
  width: 75%;
  margin-inline: 10%;
  /* display: flex;
  justify-content: space-between; */
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.1em 0.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.navigation {
  margin-top: 3rem;
}

.view-link {
  display: block;
  width: 10em;
  max-width: 100%;
  margin: 1rem auto;
  padding: 0.2rem;
  box-shadow: 5px 4px 5px gray;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: aqua;
  border-radius: 1rem;
}

.spaced {
  margin-left: 0.3em;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.green {
  color: green;
}

.blue {
  color: blue;
}