.status-bar {
  height: 3px;
}

.loading {
  background-color: orange;
}

.stalled {
  background-color: orange;
}

.failed {
  background-color: red;
}

.error-message {
  position: absolute;
  width: 75%;
  margin-inline: 10%;
  /* display: flex;
  justify-content: space-between; */
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.1em 0.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
