.tap-view {
    display: grid;
    height: calc(100dvh - 3px);
    grid-template-rows: auto 1fr auto auto;
    padding: 0.3rem;
}

.card-view {
    margin-top: 0.5rem;
    /* background-color: yellow; */
}

.word {
    text-align: center;
    font-size: 2.2rem;
}

.transcription {
    text-align: center;
    font-size: 1.3rem;
}

.translation {
    text-align: center;
    font-size: 1.4rem;
}

.example {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
}

.reset {
    background: none;
    border: none;
    width: fit-content;
    font-size: 3rem;
    /* font-weight: bold; */
    color: red;
}

.speaker {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background: none;
    border: none;
    width: fit-content;
    font-size: 2rem;
}

.nav-buttons {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin-bottom: 0.9rem; */
    margin: 0 0.4rem 0.9rem;
}

.nav-buttons button {
    display: none;
    flex-grow: 1;
    border: none;
    border-radius: 0.8rem;
    /* box-shadow: 5px 4px 5px gray; */
}

.hidden {
    display: none;
}

button.good {
    display: block;
    background-color: green;
}

button.pass {
    display: block;
    background-color: gray;
}

button.retry {
    display: block;
    background-color: yellow;
}

button.bad {
    display: block;
    background-color: red;
}