.tap-view {
    display: grid;
    height: calc(100dvh - 3px);
    grid-template-rows: auto 1fr auto;
    padding: 0.3rem;
}

.word {
    text-align: center;
}

.transcription {
    text-align: center;
}

.translation {
    text-align: center;
}

.example {
    text-align: center;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-buttons button {
    display: none;
    height: 6rem;
    flex-grow: 1;
}

.hidden {
    display: none;
}

button.good {
    display: block;
    background-color: green;
}

button.neutral {
    display: block;
    background-color: gray;
}

button.retry {
    display: block;
    background-color: yellow;
}

button.bad {
    display: block;
    background-color: red;
}